      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{post.title}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="/profile/{{post.user.id}}">{{post.user.firstName}}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{generateDate post.date 'MMM-Do-YYYY HH:mm:ss '}}</p>

          <hr>

          <!-- Preview Image -->
          {{#if (fieldChecker post.file)}}
          <img class="img-fluid rounded" src="/uploads/{{post.file}}">
{{/if}}
          <hr>

          <!-- Post Content -->
          <p class="lead">{{post.body}}</p>
          <hr>

          {{#if post.allowComments}}
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="/userdash/comments" method="post">
                <div class="form-group">
                  <textarea class="form-control" rows="3" id="body" name="body"></textarea>
                  <input type="hidden" name="id" value="{{post.id}}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          {{else}}
          <h5 class="card-header">This post does not allow comments</h5>
{{/if}}
       {{#each post.comments}}
      
            <div class="media mt-4 border" id="comment">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <a href="/profile/{{user.id}}"><h5 class="mt-0">{{user.firstName}}</h5></a>
              {{body}}
                </div>
              </div>
{{/each}}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
           <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                {{#each categories}}
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    
                    <li>
                      <a href="#">{{name}}</a>
                    </li>
                    
                  </ul>
                </div>
                {{/each}}
                
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>